[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.build]
cmds = [
  "dotnet restore",
  "dotnet publish src/HRManagement.BlazorUI/HRManagement.BlazorUI.csproj -c Release -o out"
]

[start]
cmd = "cd out && dotnet HRManagement.BlazorUI.dll --urls http://0.0.0.0:$PORT"
